@import '../_variables/app.scss';
@import '../_variables/mixins.scss';

.fullSizeCard, .card{
    margin: 10px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
    width: 700px;
    .cardHeader{
        background-color: $cardHeaderBgColor;
        border-top: 4px solid $borderColor;
        color: $fontColor;
        padding: 0 15px;
        @include contentCenter;
        aside{
            h1{
                font-size: 2.5rem;
                font-weight: lighter;
                margin: 0.625rem;
            }
            select{
                background-color: transparent;
                color: #fff;
                padding: 0.5rem;
                border-radius: 4px;
                border-color: $fontColor;
            }
            .button{
                background-color: transparent;
                border: 0;
                outline: none;
                cursor: pointer;
                i{
                    color: $fontColor;
                    font-size: 20px;
                }
            }
        }
    }
    .statistics{
        width: 30%;
        float: left;
        background-color: $progressBarColumnColor;
        color: $fontColor;
        padding-bottom: 11rem;
        padding-right: 1rem;
        ul{
            @include listStyles;
        }
        h1{    
            font-weight: lighter;
            font-size: 1.5rem;
            padding-left: 1.2rem;
            padding-top: 1rem;
        }
    }
    .table{
        width: 67%;
        float: right;
        .tableTitle{
            display: flex;
            justify-content: space-between;
            font-size: 1.2rem;
            .filterLabel{
                color: $labelTitleColor;
            }
            .filterValue{
                color: $borderColor;
            }
            div{
                padding: 1rem;
                &:first-child{
                    width: 70%;
                    border-right: 1px solid #ccc;
                }
            }
        }
    }
}

.fullSizeCard{
    width: 100vw;
    height: 90vh;
    .statistics{
        height: 63vh;
    }
}
.none{
    display: none;
}