@import '../_variables/app.scss';

.table, .fullHeightTable{
    width: 100%;
    tr:nth-child(even){
        background-color: $oddColumnColor;
    }
    td, th{
        padding: 0.5rem;
        text-align: left;
        border-top: 1px solid #dadee4;
        width: 50%;
    }
}
.fullHeightTable{
    height: 75vh;
}