$backgroundColor: dodgerblue;
$fontColor: white;
$cardHeaderBgColor: #144c88;
$progressBarColumnColor: #20649b;
$progressBarColor: #45b0e6;
$oddColumnColor: #f7f8f9;
$borderColor: #7dd343;
$labelTitleColor: #154c88;